.remove-btn{
    margin-right: 0.5rem;
}
/* .left-icon {
} */
/* .body {
  padding-top: 45px;
} */

.brand{
  margin-left:8.3333% !important;

}
.appnav{
  position: sticky;
  top: 0;
}
.link {
    color: rgb(9, 226, 38)
        
  }
.link:hover {
    color: rgb(245, 7, 245);
  }

.bookings-link{
   margin: 5px;
   color: #1df700;
  }
.bookings-link:hover {
  color: rgb(245, 7, 245);
 }
.profile-link{
  margin: 5px;
  color: #fbff00;
 }

.profile-link:hover {
  color: rgb(245, 7, 245);
}

.fade-enter{
    opacity: 0.01;
}

.fade-enter-active{
opacity: 1;
transition: opacity 1000ms ease-in;
}

.fade-exit{
    opacity: 1;
}

.fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

.homeHero{
  min-height: 60vh;
  width: 100%;
  background-color: rgb(221, 239, 241);
}
.homeHeroTop{
  text-align: center;
  padding: 20px 0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.homeHeroTopText{
  letter-spacing: 0.45px;
  font-size: 24px;
  line-height: 32px;
  color: #224358;
  margin-bottom: 10px;
}
.homeHeroTopDesc{
  font-weight: 400;
color: #224358;
font-size: 12px;
}
.hemeHeroButtom{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.iconButton{
  color: #fff;
  font-size: 28px !important;
  margin-right: 5px;
}
.buttontext{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.solutionbar{
  margin: 24px auto;
  max-width: 480px;
  box-shadow: 0 4px 8px rgb(34 67 88 / 10%);
  padding: 8px;
  background-color: #fff;
  display: flex;
  border-radius: 8px;
  background: #fff;
  text-decoration: none;
  color: #435f71;
}
.homeHeroBottomCenter{
  flex:6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.iconsSolution{
 font-size: 40px !important;;
 color: #0596de;
  margin: 8px  ;

}
.infoTitle{
font-size: 14px;
  line-height: 24px;
font-weight: 700;
color: #0596de;
}
.infoDesc{
font-size: 12px;
line-height: 16px;
font-weight: 400;
}
.homeHeroBottomLeft{
flex: 3;  
position: relative; 
}

.homeHeroBottomRight{
  flex:3;
  position: relative;
}

